*{
    margin: 0px;
    box-sizing: content-box;
}

body{
    background-image: url("estilo/wp1.png");
    background-repeat: repeat-y;
    background-size: cover;
    
}

footer{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

input{
    border-radius: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13pt;
    margin-left: 5px;
    padding-left: 8px;

}


button{
    border-radius: 7px;
    font-size: 15px;
    background: linear-gradient(0deg, rgb(197, 18, 18), black);
    color:white;
    box-shadow: -7px 5px 10px black;
    padding: 5px;
    margin: 5px;
}

button:active{
    transform: translateY(3px);
    box-shadow: -7px 3px 15px black;
}

#send{
        border-radius: 7px;
        font-size: 15px;
        background: linear-gradient(0deg, rgb(3, 145, 46), black);
        color:white;
        box-shadow: -7px 5px 10px black;
        padding: 5px;
        margin: 5px;
        
}


.tituloPrincipal{
    font-size: 40px;
    background: linear-gradient(0deg, grey, black);
    font-family: sans-serif;
    text-align: center;
    color:white;
    box-shadow: -7px 5px 10px black;
    padding: 3px;
    margin-bottom: 45px;
}

.caixaForm{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.botaoEnviar{
    background: linear-gradient(90deg, rgb(173, 172, 172), grey);
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    
}


.habilidades{
    background: linear-gradient(90deg, rgb(173, 172, 172), white);
    padding: 10px;
    box-shadow: -7px 5px 10px black;
    border-radius: 15px;

}

.tipoDeVaga{
    background: linear-gradient(90deg, rgb(173, 172, 172), white);
    padding: 10px;
    box-shadow: -7px 5px 10px black;
    border-radius: 15px;
}

#textarea1{
    border-radius: 15px;
    padding: 10px;
    box-shadow: -7px 5px 10px black;
}